*
{
    box-sizing: border-box;
}

.header
{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    align-items: center;
}
ul
{
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    
}
.nav
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 1100px;
    align-self: center;
}
.cards
{
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.container
{
    max-width: 1100px;
    padding: 0px;
    margin: 0px;
    display: flex;
}

img
{
    width: 300px;
    height: auto;
}
body
{
    margin: 0;
}
.signup-button
{
    flex-grow: 0;
    width: 80px;
    padding: 10px;
    background-color: #3882f6;
    border: 0px;
    color: white;
    border-radius: 10px;
}
.card p{
    color: #e5e7eb;
}
.header h3{
    font-size: 48px;
    font-weight: bolder; 
    color: #f9faf8;
    margin-top: 8px;
    margin-bottom: 8px;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.randoms
{
    display: flex;
    width: 1100px;
    justify-content: space-around;
}
.random
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-placeholder
{
    height: 150px;
    width: 150px;
    border: #3882f6 solid 3px;
    border-radius: 10px;
    margin-bottom: 4px;
}
.random p{
    max-width: 200px;
    margin-top: 0px;
}
.content h3{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 12px;
}
.quote-container
{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    
}
.quote
{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.quote p
{
    font-size: 36px;
    width: 1100px;
    text-align: center;
    margin-bottom: 6px;
    font-style: italic;
}
.quote span{
    align-self: flex-end;
}

.signup{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.call-to-action
{
    background-color: #3882f6;
    display: flex;
    width: 1000px;
    justify-content: space-between;
    padding: 32px 56px 32px;
    align-items: center;
}
.call-to-action .signup-button
{
    border: 2px solid white;
    height: fit-content;
}