*
{
    box-sizing: border-box;
}

.header
{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    align-items: center;
}
ul
{
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    
}
.nav
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 1100px;
    align-self: center;
}
.cards
{
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.container
{
    max-width: 1100px;
    padding: 0px;
    margin: 0px;
    display: flex;
}

img
{
    width: 300px;
    height: auto;
}
body
{
    margin: 0;
}
.signup
{
    flex-grow: 0;
    width: 80px;
    padding: 10px;
    background-color: #3882f6;
    border: 0px;
    color: white;
    border-radius: 10px;
}
.card p{
    color: #e5e7eb;
}
h3{
    font-size: 48px;
    font-weight: bolder; color: #f9faf8
}

.randoms
{
    display: flex;
    width: 1100px;
}
.random
{
    display: flex;
    flex-direction: column;
}